name: Deploy to Github Pages
on:
  push:
    branches: [ "master" ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x' 
      - run: pip install mkdocs-material
      - run: mkdocs gh-deploy --force
